div.content.clearfix
  #scrollbar1
    #content
      .viewport
        .overview
          .structure-container
            .horizen-sroll.clearfix
              #card-list-header.list-panel.droptrue.move.ui-sortable
                header.class1
                  h4 List Title
                #card-list
                p.add-plugein.add-card Add card
          .scrollbar
            .track
              .thumb
                .end

script#card-entry(type="text/template")
  |<div class="checkcontainer">
  |  <div class="checklist clearfix">
  |    <div><%= title %> - <%= status%></div>
  |  </div>
  |</div>

script(type="text/javascript", src="javascripts/cards.js")
