div.content.clearfix
  #scrollbar1
    #content
      .viewport
        .overview
          .structure-container
            .horizen-sroll.clearfix
              #card-list.list-panel.droptrue.move.ui-sortable
                header.class1
                  h4 List Title
                .checkcontainer
                  .checklist.clearfix
                    p Art work for P360
                .checkcontainer
                  .checklist.clearfix
                    p Authenticity prototype
                .checkcontainer
                  div.checklist.clearfix
                    p Cantas prototype
                p.add-plugein.add-card Add card
              .list-panel.droptrue.move.ui-sortable
                header.class1
                  h4 List Title
                .checkcontainer
                  .checklist.clearfix
                    p Art work for P360
                .checkcontainer
                  .checklist.clearfix
                    p Authenticity prototype
                .checkcontainer
                  div.checklist.clearfix
                    p Cantas prototype
                p.add-plugein.add-card Add card
          .scrollbar
            .track
              .thumb
                .end

script#card-entry(type="text/template")
  |<div class="checkcontainer>
  |  <div class="checklist clearfix">
  |    <p><%= title %><p>
  |  </div>
  |</div>

script(type="text/javascript", src="javascripts/cards.js")