div.content.clearfix
  #scrollbar1
    .viewport
      .overview
        .structure-container
          .horizen-sroll.clearfix
            .list-panel.droptrue.move.ui-sortable
              header.class1
                h4 List Title
              .checkcontainer
                .checklist.clearfix
                  p Art work for P360
              .checkcontainer
                .checklist.clearfix
                  p Authenticity prototype
              .checkcontainer
                div.checklist.clearfix
                  p Cantas prototype
              p.add-plugein Add card
            .list-panel.droptrue.move.ui-sortable
              header.class1
                h4 List Title
              .checkcontainer
                .checklist.clearfix
                  p Art work for P360
              .checkcontainer
                .checklist.clearfix
                  p Authenticity prototype
              .checkcontainer
                div.checklist.clearfix
                  p Cantas prototype
              p.add-plugein Add card
        .scrollbar
          .track
            .thumb
              .end